<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="image">
          <match url="^images/$" ignoreCase="false"/>
          <action type="Rewrite" url="page404.html"/>
        </rule>
        <rule name="rss">
          <match url="^rss[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="rss.aspx"/>
        </rule>
        <rule name="rss/?.xml">
          <match url="^rss/([A-Za-z0-9\.]*).xml*$" ignoreCase="false"/>
          <action type="Rewrite" url="rss.aspx?filter={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="rss/filter/?">
          <match url="^rss/filter/([A-Za-z0-9\.]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="rss.aspx?filter={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="rss/source/?">
          <match url="^rss/source/([A-Za-z0-9\.]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="rss.aspx?source={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="rss/source/?/filter/?">
          <match url="^rss/source/([A-Za-z0-9\.]*)/filter/([A-Za-z0-9\.]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="rss.aspx?source={R:1}&amp;filter={R:2}" appendQueryString="false"/>
        </rule>
        <rule name="rss/filtes/?/source/?">
          <match url="^rss/filter/([A-Za-z0-9\.]*)/source/([A-Za-z0-9\.]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="rss.aspx?filter={R:1}&amp;source={R:2}" appendQueryString="false"/>
        </rule>
        <rule name="items/source/?/filter/?/list/?">
          <match url="^items/source/([A-Za-z0-9\.]*)/filter/([A-Za-z0-9\.]*)/list/([0-9]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="index.aspx?p=items&amp;source={R:1}&amp;filter={R:2}&amp;list={R:3}" appendQueryString="false"/>
        </rule>
        <rule name="items/filter/?/source/?/list/?">
          <match url="^items/filter/([A-Za-z0-9\.]*)/source/([A-Za-z0-9\.]*)/list/([0-9]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="index.aspx?p=items&amp;filter={R:1}&amp;source={R:2}&amp;list={R:3}" appendQueryString="false"/>
        </rule>
        <rule name="items/source/?/filter/?">
          <match url="^items/source/([A-Za-z0-9\.]*)/filter/([A-Za-z0-9\.]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="index.aspx?p=items&amp;source={R:1}&amp;filter={R:2}" appendQueryString="false"/>
        </rule>
        <rule name="items/filtes/?/source/?">
          <match url="^items/filter/([A-Za-z0-9\.]*)/source/([A-Za-z0-9\.]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="index.aspx?p=items&amp;filter={R:1}&amp;source={R:2}" appendQueryString="false"/>
        </rule>
        <rule name="items/source/?/list/?">
          <match url="^items/source/([A-Za-z0-9\.]*)/list/([0-9]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="index.aspx?p=items&amp;source={R:1}&amp;list={R:2}" appendQueryString="false"/>
        </rule>
        <rule name="items/source/?">
          <match url="^items/source/([A-Za-z0-9\.]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="index.aspx?p=items&amp;source={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="items/filter/?/list/?">
          <match url="^items/filter/([A-Za-z0-9\.]*)/list/([0-9]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="index.aspx?p=items&amp;filter={R:1}&amp;list={R:2}" appendQueryString="false"/>
        </rule>
        <rule name="items/filter/?">
          <match url="^items/filter/([A-Za-z0-9\.]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="index.aspx?p=items&amp;filter={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="items/list/?">
          <match url="^items/list/([0-9]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="index.aspx?p=items&amp;list={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="items">
          <match url="^items[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="index.aspx?p=items" appendQueryString="false"/>
        </rule>
        <rule name="sources">
          <match url="^sources[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="index.aspx?p=sources" appendQueryString="false"/>
        </rule>
        <rule name="item/?/?">
          <match url="^item/([0-9]*)/([A-Za-z0-9\-\.]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="index.aspx?p=view_item&amp;id={R:1}&amp;title={R:2}" appendQueryString="false"/>
        </rule>
        <rule name="item/?">
          <match url="^item/([0-9]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="index.aspx?p=view_item&amp;id={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="redirect/item/?">
          <match url="^redirect/item/([0-9]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="action.aspx?p=do_redirect_item&amp;id={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="redirect/item/?/?">
          <match url="^redirect/item/([0-9]*)/([A-Za-z0-9\-\.]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="action.aspx?p=do_redirect_item&amp;id={R:1}&amp;title={R:2}" appendQueryString="false"/>
        </rule>
        <rule name="redirect/source/?">
          <match url="^redirect/source/([A-Za-z0-9\.]*)[/]*$" ignoreCase="false"/>
          <action type="Rewrite" url="action.aspx?p=do_redirect_source&amp;source={R:1}" appendQueryString="false"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>